@use "../abstracts" as *;

.img {
    max-width: 100%;
    margin-bottom: 60px;
    padding: 0 5px;

    @include breakpoint-up(large) {
        margin-bottom: 0;
        align-self: center;
        min-width: 0;
        flex-basis: 50%;
    }
}
