//font sizes
$font-sm: 12px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 24px;
$font-xxl: 40px;

//font weights
$regular: 400;
$semi-bold: 600;

//font family
$open: "Open Sans", sans-serif;
$poppins: "Poppins", sans-serif;
